.home-page .police-today {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 18rem;
  background-color: #fafcfe;
  z-index: 99;
}
.home-page .police-today .police-today-box > p {
  padding: 0.6rem 0;
  text-align: center;
  font-size: 1.4rem;
  background-color: #fafcfe;
}
.home-page .police-today .police-today-box .bottom-box {
  padding: 1rem 1.4rem;
  background-color: #fff;
}
.home-page .police-today .police-today-box .bottom-box .num-font {
  font-size: 0;
  text-align: center;
}
.home-page .police-today .police-today-box .bottom-box .num-font span {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  margin-left: 1rem;
  color: #01a0e9;
  border: 1px solid rgba(106, 240, 235, 0.9);
  font-size: 2.4rem;
  font-weight: bold;
  box-shadow: 0px 0px 5px 3px rgba(106, 240, 235, 0.9) inset;
}
.home-page .police-today .police-today-box .bottom-box .num-font span:first-child {
  margin-left: 0;
}
.home-page .police-today .police-today-box .bottom-box .bottom {
  position: relative;
  margin-top: 0.6rem;
}
.home-page .police-today .police-today-box .bottom-box .bottom span {
  font-size: 1.4rem;
  color: #f8990d;
}
.home-page .police-today .police-today-box .bottom-box .bottom a {
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 0.7rem;
  transform: translateY(-50%);
  cursor: pointer;
}
.home-page .police-today .police-today-box .bottom-box .bottom a .iconfont {
  font-size: 0.6rem;
}
.home-page .police-today .police-last-week {
  position: absolute;
  right: 22rem;
  bottom: 0;
  width: 16rem;
  height: 100%;
  border-radius: 4px;
  background-color: #fff;
  transition: opacity 0.25s ease-in-out;
  box-shadow: 0px 0px 5px 3px rgba(106, 240, 235, 0.9) inset;
  opacity: 0;
}
.home-page .police-today .police-last-week > p {
  margin: 0 auto;
  padding: 0.4rem;
  width: 96%;
  font-size: 1.2rem;
  border-bottom: 1px solid rgba(112, 255, 247);
  box-sizing: border-box;
}
.home-page .police-today .police-last-week ul {
  position: absolute;
  top: 2.6rem;
  bottom: 0;
  width: 100%;
  text-align: center;
}
.home-page .police-today .police-last-week ul li {
  display: inline-block;
  width: 33%;
  text-align: center;
}
.home-page .police-today .police-last-week ul li a {
  margin: 0.6rem 0;
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  line-height: 2.4rem;
  text-align: center;
  border-radius: 50%;
  border: 1px solid rgba(112, 255, 247);
}
.home-page .police-today .police-last-week ul li a i {
  font-size: 1.5rem;
}
.home-page .police-today .police-last-week ul li a i.icon-chujing {
  color: rgba(248, 153, 13);
}
.home-page .police-today .police-last-week ul li a i.icon-huojing {
  color: rgba(233, 88, 87);
}
.home-page .police-today .police-last-week ul li a i.icon-qita {
  color: rgba(73, 109, 255);
}
.home-page .police-today .police-last-week ul li p {
  margin: 0.4rem 0;
  font-size: 0.8rem;
}
.home-page .police-today .police-last-week ul li p span {
  font-size: 1.6rem;
  color: #E95857;
}
.home-page .police-today .police-last-week ul li:nth-child(1) {
  position: absolute;
  left: 0;
}
.home-page .police-today .police-last-week ul li:nth-child(1) p span {
  color: #F8990D;
}
.home-page .police-today .police-last-week ul li:nth-child(3) {
  position: absolute;
  right: 0;
}
.home-page .police-today .police-last-week ul li:nth-child(3) p span {
  color: #496DFF;
}
.home-page .police-today .police-last-week:after {
  position: absolute;
  content: '';
  left: -1rem;
  bottom: 1rem;
  border: 8px solid transparent;
  border-right: 8px solid rgba(106, 240, 235, 0.9);
}
.home-page .police-today .police-last-week.active {
  opacity: 1;
  right: -17rem;
}
.home-page .vehicle-list {
  position: absolute;
  top: 13rem;
  left: 1rem;
  width: 18rem;
  height: calc(70% - 13rem);
  background-color: #fff;
  z-index: 99;
}
.home-page .vehicle-list > p {
  padding: 0.6rem;
  font-size: 1.4rem;
  background-color: #fafcfe;
}
.home-page .vehicle-list .vehicle-list-box {
  margin: 0;
  width: 100%;
  height: calc(100% - 3.6rem);
  background-color: #fff;
  overflow-y: auto;
}
.home-page .vehicle-list .vehicle-list-box .el-collapse-item__header {
  padding-left: 1rem;
  height: 34px;
  line-height: 34px;
  font-size: 1.1rem;
  background-color: rgba(73, 109, 255, 0.8);
  color: #fff;
}
.home-page .vehicle-list .vehicle-list-box .el-collapse-item__content {
  padding-bottom: 0;
}
.home-page .vehicle-list .vehicle-list-box .each-msg {
  font-size: 0;
}
.home-page .vehicle-list .vehicle-list-box .each-msg span {
  display: inline-block;
  width: 50%;
  font-size: 1rem;
  text-align: center;
}
.home-page .bottom-echart {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 1rem;
  width: 100%;
  height: 30%;
  box-sizing: border-box;
  z-index: 99;
}
.home-page .bottom-echart .police-handling {
  width: calc(50% - 1rem);
  height: 100%;
  background-color: #fff;
}
.home-page .bottom-echart .police-handling .head-title {
  position: relative;
  padding: 0 1rem;
  height: 3.4rem;
  line-height: 3.4rem;
  background-color: #fafcfe;
}
.home-page .bottom-echart .police-handling .head-title > span {
  font-size: 1.4rem;
}
.home-page .bottom-echart .police-handling .head-title p {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}
.home-page .bottom-echart .police-handling .head-title p .el-input__inner {
  margin-left: 0.6rem;
  width: 5rem;
  height: 2rem;
  line-height: 2rem;
}
.home-page .bottom-echart .police-handling .my-chart1 {
  width: 100%;
  height: calc(100% - 3.4rem);
}
.home-page .bottom-echart .fire-equipment {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: calc(50% - 1rem);
  height: calc(100% - 2rem);
  background-color: #fff;
}
.home-page .bottom-echart .fire-equipment .head-title {
  position: relative;
  padding: 0 1rem;
  height: 3.4rem;
  line-height: 3.4rem;
  background-color: #fafcfe;
  font-size: 1.4rem;
}
.home-page .bottom-echart .fire-equipment .my-chart2 {
  width: 100%;
  height: calc(100% - 3.4rem);
}
.home-page .weather-box {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 20rem;
  z-index: 100;
  background-color: #fff;
  border-radius: 4px;
}
.home-page .weather-box ul {
  padding: 1rem;
  min-height: 12rem;
}
.home-page .weather-box ul li {
  padding: 0.3rem 0;
}
.home-page .weather-box ul li div {
  padding: 0.3rem 0;
}
.home-page .weather-box ul li:first-child {
  border-bottom: 1px solid #3f7fa6;
}
.home-page .weather-box .weather-img {
  position: absolute;
  top: 6rem;
  right: 1rem;
  width: 125px;
  height: 94px;
  background-image: url("../images/water-date.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.home-page .weather-box .weather-img-box {
  position: absolute;
  top: 6rem;
  right: 1rem;
  width: 125px;
  height: 94px;
  background-repeat: no-repeat;
  background-size: cover;
}
.home-page .map-sign-box {
  position: absolute;
  top: 1rem;
  right: 23rem;
  z-index: 103;
}
.home-page .map-sign-box li {
  position: relative;
  padding: 0.8rem 0;
}
.home-page .map-sign-box li b {
  position: absolute;
  top: 50%;
  left: -40px;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-size: cover;
}
.home-page .map-sign-box li b.one {
  background-image: url("../../assets/images/mapIcon1.png");
}
.home-page .map-sign-box li b.two {
  background-image: url("../../assets/images/mapIcon2.png");
}
.home-page .map-sign-box li b.three {
  background-image: url("../../assets/images/mapIcon3.png");
}
.duty-squadron {
  position: relative;
}
.duty-squadron .war-statistics {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: calc((100vh - 14rem) / 2);
  background-color: #fff;
  z-index: 100;
}
.duty-squadron .war-statistics > p {
  background-color: #fafcfe;
  padding: 0.6rem;
  font-size: 1.1rem;
}
.duty-squadron .war-statistics > p .score {
  padding: 0 0.6rem;
  font-size: 1.6rem;
  color: #f7b500;
}
.duty-squadron .war-statistics > p i {
  color: #00b2ff;
  cursor: pointer;
}
.duty-squadron .war-statistics ul {
  display: table;
  width: 100%;
  text-align: center;
  border-top: 1px solid rgba(221, 221, 221, 0.6);
}
.duty-squadron .war-statistics ul li {
  position: relative;
  display: table-cell;
  padding: 0.8rem 0;
  font-size: 1rem;
}
.duty-squadron .war-statistics ul li p {
  margin-top: 0.4rem;
}
.duty-squadron .war-statistics ul li p b {
  font-size: 3rem;
  font-weight: normal;
}
.duty-squadron .war-statistics ul li p:after {
  position: absolute;
  top: 50%;
  right: 0;
  height: 80%;
  transform: translateY(-50%);
  content: '';
  border-right: 1px solid rgba(221, 221, 221, 0.4);
}
.duty-squadron .war-statistics ul li:nth-child(1) p {
  color: #1258ec;
}
.duty-squadron .war-statistics ul li:nth-child(2) p {
  color: #4dcb73;
}
.duty-squadron .war-statistics ul li:nth-child(3) p {
  color: #faa637;
}
.duty-squadron .war-statistics ul li:nth-child(3) p:after {
  display: none;
}
.duty-squadron .radar-map {
  position: absolute;
  left: 1rem;
  top: 12rem;
  width: calc((100vh - 14rem) / 2);
  height: calc((100% - 14rem) / 2);
  background-color: #fff;
  z-index: 100;
}
.duty-squadron .radar-map > p {
  padding: 0.6rem;
  font-size: 1.1rem;
  background-color: #fafcfe;
}
.duty-squadron .radar-map .my-chart3 {
  width: 100%;
  height: calc(100% - 1.6rem);
}
.duty-squadron .radar-map:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  background-color: transparent;
}
.duty-squadron .police-type-analyse {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  width: calc((100vh - 14rem) / 2);
  background-color: #fff;
  height: calc((100% - 14rem) / 2);
  z-index: 100;
}
.duty-squadron .police-type-analyse .head-title {
  position: relative;
  padding: 0 1rem;
  height: 3.4rem;
  line-height: 3.4rem;
  background-color: #fafcfe;
}
.duty-squadron .police-type-analyse .head-title > span {
  font-size: 1.1rem;
}
.duty-squadron .police-type-analyse .head-title p {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}
.duty-squadron .police-type-analyse .head-title p .el-input__inner {
  margin-left: 0.6rem;
  width: 5rem;
  height: 2rem;
  line-height: 2rem;
}
.duty-squadron .police-type-analyse .my-chart4 {
  width: 100%;
  height: calc(100% - 1.6rem);
}
.duty-squadron .right-box {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: calc((100vh - 14rem) / 2);
  background-color: #fff;
  z-index: 100;
}
.duty-squadron .right-box .average-time {
  width: 100%;
}
.duty-squadron .right-box .average-time > p {
  padding: 0.6rem;
  font-size: 1.1rem;
  background-color: #fafcfe;
}
.duty-squadron .right-box .average-time .my-chart5 {
  width: 100%;
  height: 9rem;
}
.duty-squadron .right-box .warning-statistics > p {
  padding: 0.6rem;
  font-size: 1.1rem;
  background-color: #fafcfe;
  border-top: 1px dotted #666;
}
.duty-squadron .right-box .warning-statistics .my-chart6 {
  width: 100%;
  height: 15rem;
}
.duty-squadron .map-sign-box {
  position: absolute;
  top: 1rem;
  right: calc((100vh - 6rem) / 2);
  z-index: 103;
}
.duty-squadron .map-sign-box li {
  position: relative;
  padding: 0.8rem 0;
}
.duty-squadron .map-sign-box li b {
  position: absolute;
  top: 50%;
  left: -40px;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-size: cover;
}
.duty-squadron .map-sign-box li b.one {
  background-image: url("../../assets/images/mapIcon1.png");
}
.duty-squadron .map-sign-box li b.two {
  background-image: url("../../assets/images/mapIcon2.png");
}
.duty-squadron .map-sign-box li b.three {
  background-image: url("../../assets/images/mapIcon3.png");
}
.assist-makePolicy {
  position: relative;
  padding: 10px;
  box-sizing: border-box;
}
.assist-makePolicy .layout-box {
  width: 100%;
  height: 100%;
  font-size: 0;
}
.assist-makePolicy .layout-box > li {
  position: relative;
  display: inline-block;
  width: calc((100% - 20px) / 3);
  height: 100%;
  margin-left: 10px;
  vertical-align: top;
  font-size: 1rem;
}
.assist-makePolicy .layout-box > li .police-statistics,
.assist-makePolicy .layout-box > li .police-pressure,
.assist-makePolicy .layout-box > li .fire-analysis {
  margin-top: 10px;
  height: calc((100% - 20px) / 3);
  border: 1px solid #ddd;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.assist-makePolicy .layout-box > li .police-statistics {
  margin-top: 0;
}
.assist-makePolicy .layout-box > li .police-statistics > p {
  height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  font-size: 1.4rem;
  background-color: #fafcfe;
}
.assist-makePolicy .layout-box > li .police-statistics .my-chart7 {
  width: 100%;
  height: calc(100% - 3.2rem);
}
.assist-makePolicy .layout-box > li .police-pressure {
  margin-top: 10px;
}
.assist-makePolicy .layout-box > li .police-pressure .head-title {
  position: relative;
  padding: 0 1rem;
  height: 3rem;
  line-height: 3rem;
  background-color: #fafcfe;
}
.assist-makePolicy .layout-box > li .police-pressure .head-title > span {
  font-size: 1.4rem;
}
.assist-makePolicy .layout-box > li .police-pressure .head-title p {
  position: absolute;
  top: 50%;
  right: 1rem;
  font-size: 1.1rem;
  transform: translateY(-50%);
}
.assist-makePolicy .layout-box > li .police-pressure .head-title p .el-input__inner {
  margin-left: 0.6rem;
  width: 5rem;
  height: 2rem;
  line-height: 2rem;
}
.assist-makePolicy .layout-box > li .police-pressure .my-chart8 {
  width: 100%;
  height: calc(100% - 3.2rem);
}
.assist-makePolicy .layout-box > li .fire-analysis p {
  position: relative;
  padding: 0 1rem;
  height: 3rem;
  line-height: 3rem;
  font-size: 1.4rem;
  background-color: #fafcfe;
}
.assist-makePolicy .layout-box > li .fire-analysis .double-graphs {
  height: calc(100% - 3.2rem);
}
.assist-makePolicy .layout-box > li .fire-analysis .double-graphs .my-chart9 {
  display: inline-block;
  width: calc(50% - 6px);
  height: 100%;
}
.assist-makePolicy .layout-box > li .fire-analysis .double-graphs .my-chart10 {
  display: inline-block;
  width: calc(50% - 6px);
  height: 100%;
}
.assist-makePolicy .layout-box > li .average-arrival {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc((100% - 20px) / 3);
  border: 1px solid #ddd;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.assist-makePolicy .layout-box > li .average-arrival .head-title {
  position: relative;
  height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  font-size: 1.4rem;
  background-color: #fafcfe;
}
.assist-makePolicy .layout-box > li .average-arrival .head-title ul {
  position: absolute;
  right: 0.6rem;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  font-size: 0.8rem;
  box-sizing: border-box;
}
.assist-makePolicy .layout-box > li .average-arrival .head-title ul li {
  display: inline-block;
  padding: 0.25rem 0.45rem;
  margin-left: 0.4rem;
  line-height: normal;
  color: rgba(153, 153, 153, 0.5);
  border: 1px solid rgba(153, 153, 153, 0.5);
  cursor: pointer;
}
.assist-makePolicy .layout-box > li .average-arrival .head-title ul li.active {
  color: #fff;
  border-color: #496dff;
  background-color: #496dff;
  border-radius: 3px;
}
.assist-makePolicy .layout-box > li .average-arrival .my-chart11 {
  width: 100%;
  height: calc(100% - 3.4rem);
}
.assist-makePolicy .layout-box > li .map-area {
  width: 100%;
  height: calc((100% * 2 / 3) - 3px);
  border: 1px solid #ddd;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.assist-makePolicy .layout-box > li .aging-distribution {
  height: calc((100% - 20px) / 3);
  border: 1px solid #ddd;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.assist-makePolicy .layout-box > li .aging-distribution > p {
  height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  font-size: 1.4rem;
  background-color: #fafcfe;
}
.assist-makePolicy .layout-box > li .aging-distribution .content-box {
  position: relative;
  width: 100%;
  height: calc(100% - 3rem);
  background-image: url("../../assets/images/heat-map1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.assist-makePolicy .layout-box > li .aging-distribution .content-box .operate-btn {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.assist-makePolicy .layout-box > li .aging-distribution .content-box .operate-btn .el-button {
  margin-bottom: 0.6rem;
  font-size: 1rem;
}
.assist-makePolicy .layout-box > li .aging-distribution .content-box .operate-btn .el-button.active {
  color: #444;
  background-color: #fff;
  border-color: #ddd;
}
.assist-makePolicy .layout-box > li .aging-distribution .content-box ul {
  position: absolute;
  right: 1rem;
  top: 1rem;
}
.assist-makePolicy .layout-box > li .aging-distribution .content-box ul li {
  position: relative;
  padding: 0.2rem 0;
  font-size: 0.8rem;
  color: #888;
}
.assist-makePolicy .layout-box > li .aging-distribution .content-box ul li:after {
  position: absolute;
  top: 50%;
  left: -1rem;
  content: '';
  border: 6px solid #1ccee6;
  border-radius: 50%;
  transform: translateY(-50%);
}
.assist-makePolicy .layout-box > li .aging-distribution .content-box ul li:nth-child(2):after {
  border-color: #b1ef5e;
}
.assist-makePolicy .layout-box > li .aging-distribution .content-box ul li:nth-child(3):after {
  border-color: #fce915;
}
.assist-makePolicy .layout-box > li .aging-distribution .content-box.active {
  background-image: url("../../assets/images/heat-map.png");
}
.assist-makePolicy .layout-box > li .alarm-trend {
  margin-top: 10px;
  height: calc((100% - 20px) / 3);
  border: 1px solid #ddd;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.assist-makePolicy .layout-box > li .alarm-trend > p {
  height: 3rem;
  line-height: 3rem;
  padding: 0 1rem;
  font-size: 1.4rem;
  background-color: #fafcfe;
}
.assist-makePolicy .layout-box > li .alarm-trend .my-chart12 {
  width: 100%;
  height: calc(100% - 3.4rem);
}
.assist-makePolicy .layout-box > li .training-statistics {
  margin-top: 10px;
  height: calc((100% - 20px) / 3);
  border: 1px solid #ddd;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
.assist-makePolicy .layout-box > li .training-statistics .head-title {
  position: relative;
  padding: 0 1rem;
  height: 3rem;
  line-height: 3rem;
  background-color: #fafcfe;
}
.assist-makePolicy .layout-box > li .training-statistics .head-title > span {
  font-size: 1.1rem;
}
.assist-makePolicy .layout-box > li .training-statistics .head-title p {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
}
.assist-makePolicy .layout-box > li .training-statistics .head-title p .el-input__inner {
  margin-left: 0.6rem;
  width: 8rem;
  height: 2rem;
  line-height: 2rem;
}
.assist-makePolicy .layout-box > li .training-statistics .my-chart13 {
  width: 100%;
  height: calc(100% - 3rem);
}
.assist-makePolicy .layout-box > li:first-child {
  margin-left: 0;
}
.assist-makePolicy .map-sign-box {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 103;
}
.assist-makePolicy .map-sign-box li {
  position: relative;
  padding: 0.8rem 0;
}
.assist-makePolicy .map-sign-box li b {
  position: absolute;
  top: 50%;
  left: -40px;
  width: 30px;
  height: 30px;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-size: cover;
}
.assist-makePolicy .map-sign-box li b.one {
  background-image: url("../../assets/images/mapIcon1.png");
}
.assist-makePolicy .map-sign-box li b.two {
  background-image: url("../../assets/images/mapIcon2.png");
}
.assist-makePolicy .map-sign-box li b.three {
  background-image: url("../../assets/images/mapIcon3.png");
}
/*# sourceMappingURL=web-page-public.css.map */